@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
$primaryColor: #e84393;
$default: #ccc;
$success: #1abc9c;
$warning: #f39c12;
$danger:  #e74c3c;
html,
body {
  padding: 0;
	background: $primaryColor;
	margin: auto;
	
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	
}
*{
	box-sizing: border-box;
}
.header {
	text-align: center;
}

ul{
	list-style: none;
	padding: 0;
}
.app {
	width:100%;
	width: 1200px;
  	height: 100vh;
	display: flex;
	background: #fff;
	border-radius: 30px;
	overflow: hidden;
  .sidebar {
		margin: 0;
		background: #fff;
		width: 20vw;		
		box-shadow: 5px 0px 5px lighten(#000000, 90%);
		z-index: 1;
		.projects{
			display: flex;
			flex: 1;
			height: 100%;
			flex-direction: column;
			.header{
				border-bottom: 1px solid  #f1f1f1;;
				padding: 1rem;
				h2{
					font-size: 3rem;
					margin: 0 0 16px 0px;
				}
			}
			.content{
				padding: 1rem;
						.newProjectButton{
							padding: 10px;
							color:$primaryColor;
							border-radius:10px;
							cursor: pointer;
							font-size: 1.3rem;
							font-weight: 900;
							&:hover{
								background: $primaryColor;
								color: #fff;
							}
						}
				flex: 1;
				flex-grow: 1;
				overflow: auto;
				
				.projectList{
					
					.project{
						padding: 1rem;
						transition: all 0.25s ease-in-out;
						font-weight: 400;
						font-size: 1.3rem;
						border-radius: 30px;
						&:hover{
							background: $primaryColor;
							cursor: pointer;
							color: #fff;
						}
						&.active{
							background: $primaryColor;
							color: #fff;
						}
					}
				}
			}
		}
	}
	
	.container{
		
		flex: 1;
		display: flex;
		flex-direction: column;
		.header{
			background: #f9f9f9;
			padding: 1rem 2rem;
			margin: 0;
			
			display: flex;
			justify-content: space-between;
			align-items: center;
			.addNewTodo{
				background: $primaryColor;
				border: 1px solid darken($primaryColor, 20%);
				color:#fff;
				height: 50px;
				line-height: 50px;
				font-weight: bold;
				border-radius: 30px;
				padding: 0 2rem;
				box-shadow: 0px 5px 5px -5px darken($primaryColor,10%);
				cursor: pointer;
				transition: all 0.25s ease-in-out;
				&:hover{
					box-shadow: 0px 10px 5px -5px darken($primaryColor,10%);
					background: #fff;
					color: $primaryColor;
				}
			}
		}
		.body{
			padding: 2rem;
			overflow: auto;
			flex: 1;
			.defaultView{
				background-image: url('../images/undraw_accept_request_vdsd.svg');
				background-size: 100% 100%;
				height:50vh;
			}
			.projectForm {
				max-width: 500px;
				margin:auto;
				padding: 1rem;
			
				.field{
					display: flex;
					flex-direction: column;					
					border-radius: 10px;
					
					.input{
						border-radius: 10px;
						padding: 1rem;
						flex: 1;
						border: 1px solid #f1f1f1;
						font-size: 1.3rem;
						&:focus{
							border: 1px solid #f1f1f1;
							box-shadow: 0px 0px 5px #f1f1f1;
						}
					}
					.btn {
						margin-top:16px;
						padding: 10px 15px;
						border: 1px solid #f1f1f1;
						background: $success;
						color: #fff;
						border-radius: 5px;
						cursor: pointer;
						font-size: 1.3rem;
						span{
							margin-right: 1rem;
						}
					}
				}
			}
			.TodoForm{
				.field{
					display: flex;
					border: 1px solid #f1f1f1;
					position: relative;
					border-radius: 30px;
					overflow: hidden;
					.input{
						border-radius: 30px;
						padding: 0 50px 0 1rem;
						height: 50px;
						flex: 1;
						border: 1px solid #f1f1f1;
						font-size: 1.3rem;
					}
					.btn{
						position: absolute;
						right: 0px;
						top: 0px;
						height: 50px;
						width: 50px;
						font-size: 1.3rem;
						border: 1px solid #f1f1f1;
						background: $success;
						color: #fff;
						cursor: pointer;
						span{
							margin-right: 1rem;
						}
					}
				}
			}
			.button{
				cursor: pointer;
				padding: 10px;
				border-radius: 50%;
				height: 30px;
				width: 30px;
				text-align: center;
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 1rem;
				&:hover{
					background: rgba(0,0,0,.1);
					
				}
			}
			.form{
				width: 300px;
				background: #f9f9f9;
				padding: 1rem;
				.field{
					display: flex;
					flex-direction: column;
					margin-bottom: 16px;
					label{
						font-size: 1.2rem;
						margin-bottom: 10px;
					}
					.input{
						border-radius: 10px;
						border: 1px solid #f1f1f1;
						padding: 10px;
					}
				}
			}

			.todoList{
				padding: 2rem 0;
				.todo{
					
					margin: auto;
					border-radius: 20px;
					overflow: hidden;
					display: flex;
					padding: 1rem;
					position: relative;
					transition: all 0.25s cubic-bezier(0.895, 0.03, 0.685, 0.22);
					border-bottom: 1px solid #f1f1f1;
					&:hover{
						box-shadow: 0px 2px 15px rgba(0,0,0,.1),0px 20px 5px -10px rgba(200,200,200,.1);
						background: #fff;
						transform: scale(1.01);
						z-index: 3;
					}
					&.is-checked{
						background: #f9f9f9;
						.title{
							text-decoration: line-through
						}
					}
					input[type=checkbox]{
						position: absolute;
  					left: -9999px;
					}
					input[type=checkbox]+label{
						position: relative;
						min-height: 30px;
						min-width: 30px;
						margin-right: 2rem;
						
					}
					input[type=checkbox]+label::before{
						position: absolute;
						content: '';
						left: 0px;
						top: 0px;
						min-height: 30px;
						min-width: 30px;
						border: 2px solid #ccc;
						border-radius: 50%;
						z-index: 1;
						cursor: pointer;
						box-shadow: inset 0 0px 2px rgba(0,0,0,.1);
						
					}
					input[type=checkbox]+label::after{
						z-index: 2;
						cursor: pointer;
						content: '\2713\0020';
						position: absolute;
						left: 0;
						top: 0;
						border: 2px solid transparent;
						min-height: 30px;
						min-width: 30px;
						font-size: 1rem;
						line-height: 30px;
						text-align: center;
						color: #fff;
						background: $primaryColor;
						border-radius: 50%;
						transform: scale(0);
						transition: all 0.25s cubic-bezier(0.68, -0.55, 0.265, 1.55);
						
					}
					input[type=checkbox]:checked+label::after{
						
						transform: scale(1);
					}
					.details{
						font-size: 16px;
						flex: 1;
						display: flex;
						
					}
					.preview{
						flex: 1;
						font-size: 1.2rem;
						color: #333;
					
						line-height: 30px;
						.title{
							flex: 1;
							text-transform: capitalize;
						}
						.tag{
							font-size: 1rem;
							color: #333;
							.icon{
								margin-right: 16px;
								font-size: 1.2rem;
								color: #ccc;
							}
							
						}
						
					}
					&::after{
						position: absolute;
						content: '';
						left: 0px;
						top: 0px;
						bottom: 0px;
						width: 2px;
						
					}
					&.is-default{
						&::after{
							background: $default;
						}
					}
					&.is-low{
						&::after{
							background: $success;
						}
					}
					&.is-medium{
						
						&::after{
							background: $warning;
						}
					}
					&.is-high{
						
						&::after{
							background: $danger;
						}
					}
					
				}
			}
		}
	}
}
